<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Credentials</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<main>
  <div class="section">
    <h2>Credentials Generated!</h2>
    <p>Use the following credentials to log into your logs collection:</p>
    <p>Username: <span th:text="${username}"></span></p>
    <p>Password: <span th:text="${password}"></span></p>
    <p>Click <a href="/">here</a> to go to the login page.</p>
  </div>
</main>

<footer>
  <form>
    <button class="back-btn" type="button" onclick="history.back()">Go Back</button>
  </form>
</footer>

</body>
</html>
