<!DOCTYPE html>
<html>

<head>
  <title>Create Collection</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
<div class="register-container">
  <h1 class="register-header">Logs Creation</h1>
  <form class="register-form" action="/auth/request" method="post">
    <p class="register-text">Every user has his own collection in the Logs database, click 'Create' to have yours now.</p>
    <button class="register-btn" type="submit">Create</button>
  </form>
</div>
</body>

</html>
