<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<main>
  <div class="section">
    <h2>Success</h2>
    <p>Operation has been performed successfully!</p>
  </div>
</main>

<footer>
  <form>
    <button class="back-btn" type="button" onclick="history.back()">Go Back</button>
  </form>
</footer>

</body>
</html>
